//color variables

$primary-color: #000000;
$secondary-color: #ed5e93;
$third-color: #fff5f9;
$fourth-color: #d3fbd8;
$gradient-color: radial-gradient(
  circle at 24.1% 68.8%,
  rgb(50, 50, 50) 0%,
  rgb(0, 0, 0) 99.4%
);
