// about_navbar
@use "../abstracts/index" as *;

/*about navbar*/

.about_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  //   background: radial-gradient(
  //     circle at 24.1% 68.8%,
  //     rgb(50, 50, 50) 0%,
  //     rgb(0, 0, 0) 99.4%
  //   );
  //   border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

  /* navbar logo*/

  &_logo {
    font-size: 36px;
    margin-left: 60px;
    font-weight: 800;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    color: $third-color;
  }

  /* navbar links*/

  &_links {
    display: flex;
    justify-content: space-between;
    width: 300px;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    margin-right: 50px;

    li {
      list-style-type: none;
      /* navbar about dropmenu*/
      .about_drop-menu {
        display: none;
        position: absolute;

        li {
          //   padding: 10px 0;

          margin: 20px 0;
        }
      }

      &:nth-child(2):hover .about_drop-menu {
        display: block;
      }
      a {
        text-decoration: none;
        color: $third-color;
        transition: 0.3s ease-in-out;
        padding-bottom: 2px;
        position: relative;
        padding-left: 5px;
        padding-right: 5px;

        &::after {
          content: "";
          background-color: $third-color;
          width: 0;
          height: 2px;
          position: absolute;
          left: 0px;
          bottom: -5px;
          transition: 0.3s ease-in-out;
        }

        &:hover::after {
          width: 100%;
        }

        &:hover {
          color: $third-color;
        }
      }
    }
  }

  /* navbar search*/
  .about_search {
    input {
      border: 1px solid $primary-color;
      padding: 7px;
      border-radius: 15px;
      background-color: $third-color;
      color: $primary-color;
      width: 300px;
      margin-right: 10px;

      &::placeholder {
        opacity: 0.9;
        padding: 10px;
        color: $primary-color;
      }
    }

    /* navbar search button*/
    &_button {
      padding: 7px;
      border-radius: 15px;
      border: 1px solid $primary-color;
      color: $primary-color;
      font-size: 12px;
      transition: 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: $primary-color;
        color: $third-color;
      }
    }
  }
}
/* navbar ends*/
